<%= turbo_frame_tag "coins_list" do %>
  <table class="w-full text-md text-left text-gray-500 dark:text-slate-200 glassmorphism">
    <%= render partial: "coins_list_table_head" %>
    <tbody>
    <% @data.each do |coin| %>
      <% presenter = CryptocurrencyPresenter.new(coin) %>
      <tr class="hover:bg-gray-50 dark:hover:bg-purple-800">
        <th scope="row" class="px-1 py-2 lg:px-4 md:py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center" data-value="<%= coin['market_cap_rank'] %>">
          <%= coin['market_cap_rank'] %>
        </th>
        <td class="px-2 py-2 lg:px-4 md:py-4" data-value="<%= coin['name'] %>">
          <%= link_to cryptocurrency_path(coin_id: coin['id']), data: { turbo_frame: "modal" }, class: "flex items-center gap-1 flex-col md:flex-row" do %>
            <%= image_tag(coin['image'], class: "w-5 h-5", alt: coin['symbol'], loading: :lazy) rescue nil %>
            <strong class="pl-1"><%= coin['symbol'].upcase %></strong>
            <span class="hidden md:inline"><%= coin['name'] %></span>
          <% end %>
        </td>
        <td class="px-2 py-2 text-center md:text-right md:table-cell lg:px-4 md:py-4" data-value="<%= coin['current_price'] %>">
          <%= formatted_price(coin['current_price']) %>
        </td>
        <td class="px-2 py-2 text-center md:text-right md:table-cell lg:px-4 md:py-4" data-value="<%= coin['price_change_percentage_24h'] %>">
          <%= presenter.price_change_percentage(coin['price_change_percentage_24h']) %>
        </td>
        <td class="hidden px-2 py-2 text-center md:text-right md:table-cell lg:px-4 md:py-4" data-value="<%= coin['market_cap'] %>">
          <%= formatted_price(coin['market_cap']) %>
        </td>
        <td class="hidden px-2 py-2 text-center md:text-right md:table-cell lg:px-4 md:py-4" data-value="<%= presenter.fdv_mktcap_ratio %>">
          <%= number_with_precision(presenter.fdv_mktcap_ratio, precision: 2, strip_insignificant_zeros: true) %>
        </td>
        <td class="hidden px-2 py-2 text-center md:text-right lg:table-cell lg:px-4 md:py-4" data-value="<%= coin['last_updated'].to_datetime.in_time_zone.strftime("%H:%M") %>">
          <%= coin['last_updated'].to_datetime.in_time_zone.strftime("%H:%M") %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>