<%= turbo_frame_tag "coins_list" do %>
  <table class="w-full text-md text-left text-gray-500 dark:text-slate-200 glassmorphism">
    <%= render partial: "coins_list_table_head" %>
    <tbody>
    <% @data.each do |coin| %>
      <% presenter = CryptocurrencyPresenter.new(coin) %>
      <tr class="hover:bg-gray-50 dark:hover:bg-purple-800">
        <td scope="row" class="px-1 py-2 lg:px-4 md:py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center" data-value="<%= presenter.simple_rank %>">
          <%= presenter.simple_rank %>
        </td>
        <td class="px-2 py-2 lg:px-4 md:py-4" data-value="<%= presenter.simple_name %>">
          <%= link_to cryptocurrency_path(coin_id: presenter.simple_id), data: { turbo_frame: "modal" }, class: "flex items-center gap-1 flex-col md:flex-row" do %>
            <%= image_tag(presenter.simple_icon, class: "w-5 h-5", alt: presenter.simple_symbol, loading: :lazy) rescue nil %>
            <strong class="pl-1"><%= presenter.simple_symbol %></strong>
            <span class="hidden md:inline"><%= presenter.simple_name %></span>
          <% end %>
        </td>
        <td class="px-2 py-2 text-center md:text-right md:table-cell lg:px-4 md:py-4" data-value="<%= presenter.simple_price %>">
          <%= formatted_price(presenter.simple_price) %>
        </td>
        <td class="px-2 py-2 text-center md:text-right md:table-cell lg:px-4 md:py-4" data-value="<%= presenter.simple_price_change_percentage_24h %>">
          <%= presenter.price_change_percentage(presenter.simple_price_change_percentage_24h) %>
        </td>
        <td class="hidden px-2 py-2 text-center md:text-right md:table-cell lg:px-4 md:py-4" data-value="<%= presenter.simple_market_cap %>">
          <%= formatted_price(presenter.simple_market_cap) %>
        </td>
        <td class="hidden px-2 py-2 text-center md:text-right md:table-cell lg:px-4 md:py-4" data-value="<%= presenter.fdv_mktcap_ratio %>">
          <%= number_with_precision(presenter.fdv_mktcap_ratio, precision: 2, strip_insignificant_zeros: true) %>
        </td>
        <td class="hidden px-2 py-2 text-center md:text-right lg:table-cell lg:px-4 md:py-4" data-value="<%= presenter.simple_last_updated %>">
          <%= presenter.simple_last_updated %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>