<!DOCTYPE html>
<html>
<head>
  <title>All in App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%#= javascript_importmap_tags %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body class="dark">
  <%= render partial: "layouts/partials/navbar" %>
  <main class="container mx-auto mt-28 flex">
    <% flash.each do |type, msg| %>
      <%= render partial: "layouts/partials/alert", locals: {msg: msg, type: type} %>
    <% end %>
    <%= yield %>
  </main>
  <%= render partial: "layouts/partials/popup_modal" %>
  <%= turbo_frame_tag "modal" %>
</body>
</html>
